.heading{
    font-size:22px ;
    width:100% ;
    margin:0px ;
    box-shadow:5px 5px 5px rgb(106, 106, 106) ;
}
.note{
    font-size:20px  ;
    color: rgb(49, 138, 170);
}
.copy_right_footer{
    position: fixed;
    color:white ;
    background-color: rgb(49, 138, 170);
    bottom:0 ;
    width:100% ;
    text-align:center ;
    line-height:3 ;
}
canvas{
    border:5px dotted rgb(50, 86, 109) ;
    border-radius:20px ;
    box-shadow:5px 5px 5px gray ;
}